/*
* This file is part of Adaptable theme for moodle
*
* Moodle is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Moodle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*
*
* Adaptable main CSS file
*
* @package    theme_adaptable
* @copyright  2015-2021 Fernando Acedo (3-bits.com)
* @copyright  2020-2021 3bits development team (3-bits.com)
* @copyright  2015-2019 Jeremy Hopkins (Coventry University)
* @copyright  2018-2019 Manoj Solanki (Coventry University)
*
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

/* Main elements selectors */
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

html,
body,
input,
button,
select,
textarea {
    background-color: [[setting:backcolor]];
    background-size: 100% auto;
    color: [[setting:fontcolor]];
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:fontsize]];
    font-weight: [[setting:fontweight]];
    line-height: normal;
    margin: 0;
    padding: 0;
    appearance: none;
    scroll-behavior: smooth; 
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    color: [[setting:fontheadercolor]];
    font-family: [[setting:fontheadername]], sans-serif;
    font-weight: [[setting:fontheaderweight]] !important;
}

/* Links */
a,
a:visited,
.tabtree .tabrow0 li a,
#adaptable-page-header-wrapper .dropdown-menu > li > a.dropdown-item,
#adaptable-page-header-wrapper .dropdown-item a {
    color: [[setting:linkcolor]];
    text-decoration: none;
}

a:hover,
a:active {
    color: [[setting:linkhover]];
    text-decoration: none;
}

/* Images */
img {
    vertical-align: middle;
    border: 0;
    height: auto;
    max-width: 100%;
}

/* Lists */
li {
    line-height: 1.5;
}

#adaptable-page-header-wrapper .dropdown-menu > li > a:hover,
#adaptable-page-header-wrapper .dropdown-menu > li > a:focus,
#adaptable-page-header-wrapper .dropdown-submenu:hover > a,
#adaptable-page-header-wrapper .dropdown-submenu:focus > a {
    background-image: none;
}

/* Text Selection */
::selection  {
    color: [[setting:selectiontext]];
    background-color: [[setting:selectionbackground]];
}

::-moz-selection  {
    color: [[setting:selectiontext]];
    background-color: [[setting:selectionbackground]];
}

/* Forms */
fieldset {
    min-width: 0;
    display: block !important;
}

.mform fieldset {
    margin-left: 0;
}

.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
}

#admin-profileroles .form-setting .form-defaultinfo,
#admin-customusermenuitems .form-setting .form-defaultinfo {
    font-style: italic;
    padding-left: 5px;
    position: relative;
    top: 5px;
}

.form-colourpicker .form-defaultinfo {
    font-style: italic;
    padding-left: 5px;
    top: 5px;
}

.form-multicheckbox label {
    position: relative;
    top: 0;
}

.form-item .form-setting .form-defaultinfo {
    font-style: italic;
    padding-left: 5px;
    top: 5px;
    /*    position: absolute;*/
}

.form-inline {
    margin: 5px 0;
}

.form-inline .form-check-input {
    margin-right: 0.5rem;
}

.col-form-label.d-inline {
    float: right;
    margin: 3px 5px 5px 0;
}

.form-control-static {
    color: [[setting:alertcolorinfo]];
    padding: 0.5rem;
    border-radius: 4px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }

    textarea {
        box-sizing: border-box;
    }

    textarea[cols] {
        width: 100%;
    }
}

select {
    width: auto;
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
}

/* Radio buttons styles */
input[type="radio"] {
  background-color: #fff;
  margin: 0;
  color: #333;
  width: 1.2rem !important;
  height: 1.2rem !important;
  border: 2px solid #333;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: .3s;
}

input[type="radio"]:checked {
    transform: scale(1);
    background-color: #09af00;
    width: 1.2rem !important;
    height: 1.2rem !important;
    flex-shrink: 0;
}

/* Checkbox styles */
input[type="checkbox"] {
  transform: scale(1.4);
  background-color: #ffcdd2;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  transition-property: background-color;
  transition-duration: .5s;
}

input[type="checkbox"]:checked {
    background-color: #09af00;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 0.9rem;
    position: absolute;
    top: -2px;
    left: 2px;
    color: #fff;
}

/* Checkbox styles for Firefox */
@-moz-document url-prefix() {
  input[type="checkbox"] {
    transform: scale(1.2);
  }

  input[type="checkbox"]:checked:after {
      font-size: 1rem;
      top: -1px;
      left: 2px;
      color: #fff;
  }
}

label {
    margin: 0.3rem 0.5rem 0.5rem 0.5rem !important;
}

.filepicker-filelist .filepicker-container,
.filemanager.fm-noitems .fm-empty-container {
    border: 2px dashed [[setting:maincolor]];
}

.fp-navbar {
  border: 1px solid #aaa;
}

.fp-viewbar {
    color: #000 !important;
}

.search-box__input {
    border: 1px solid #aaa !important;
    border-radius: 4px 0 0 4px;
}


textarea[cols],
.form-inline input.form-control[type="text"],
.form-control,
input.form-control[type="text"],
textarea,
textarea[cols],
.filemanager-container,
.custom-select {
    background-color: #eee;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 4px;
	width: auto !important;
}

#page-login-index input.form-control[type="text"],
#page-login-index input.form-control[type="password"] {
    width: 100% !important;
}

.custom-select {
    background: none;
    background: #eee url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23343a40\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
    color: #262626 !important;
    background-size: 8px 10px;
}

.custom-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.custom-select::before {
    content:"\f107";
    font-family:"FontAwesome";
}

.custom-select option {
    background-color: #eee;
    color: #262626;
}

.mform .form-inline .form-group {
	width: max-content;
}

.form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
    width: 250px;
}

.form-item .form-label, .mform .fitem div.fitemtitle {
    float: left;
}

.form-item .form-label,
.mform .fitem div.fitemtitle {
    text-align: right;
}

.form-label label {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.form-colorpicker input {
    display: inline;
}

.settingsform .form-item {
    border-bottom: 1px solid [[setting:blockbordercolor]];
    padding: 10px 0;
    margin: 10px 0;
}

/* Atto editor */
div.editor_atto_toolbar {
    border-radius: 4px;
    width: 100% !important;
    background-color: var(--lt-color-gray-900);
}

.editor_atto_content {
    border: 1px solid #aaa !important;
    border-radius: 4px;
    background-color: #eee;
    color: #333;
    margin-top: 5px;
    width: 100% !important;
}

/* Focus effect */
a:focus,
button:focus,
select:focus,
textarea:focus,
input:focus {
    box-shadow: none !important;
    outline: [[setting:focusborder]] solid 3px !important;
    z-index: 100;
}

/* main headings */
#page-content {
    padding: 12px 0 20px;
    position: relative;
    width: auto;
}

.headingblock, h2.main,
#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2,
.course_category_tree .category > .info > .categoryname {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    font-size: 1.5rem;
    border-bottom: 0 solid #eee;
    margin-bottom: 20px;
}

#nologo, #nologo a,
.generalbox h2,
h3.sectionname,
div.tabtree li.selected a span,
.forumpost .subject,
.blog_entry div.subject a,
h2.headingblock,
h2.main,
h3.main,
h2.main a,
h3.main a,
div.loginpanel h2,
div.signuppanel h2 {
    font-weight: bold;
}

.well h4 {
    margin-left: 30px;
}

#header2 {
    border-bottom: none solid [[setting:maincolor]];
    clear: both;
    margin-bottom: 0;
    background-color: transparent;
    padding-top: 0;
    color: [[setting:headertextcolor2]];
}

/* Override default boost max height for header2. */
#header2 .navbar {
    max-height: 150px;
}

#header2 .row {
    margin: 0 0 0 -15px;
}

.navbar-nav {
    height: 50px;
/*    margin: 7px 0 !important; */
}

#adaptable-page-header-wrapper #header2 i,
#adaptable-page-header-wrapper #page-header i {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
}

/* Page */
#page {
    clear: both;
    margin: 0;
    padding: 0;
    max-width: inherit;
    [[setting:homebkg]]
}

/* Header */
#adaptable-page-header-wrapper {
    background-color: [[setting:headerbkcolor2]];
    width: 100%;
    z-index: 10;
}

#page-header {
    border: none;
    clear: both;
    margin-bottom: 0;
    background-color: transparent;
    padding-top: 0;
    height: 100px;
    color: [[setting:headertextcolor2]];
    position: relative;
    z-index: 50;
}

#adaptable-page-header-wrapper #main-navbar .navbar-nav > li > a {
    padding: 6px 10px;
}


#above-header .fa {
    color: [[setting:headertextcolor]];
}

#titlecontainer {
    width: [[setting:sitetitlemaxwidth]];
}

#logo {
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 0;
    max-width: 250px;
    height: auto;
    max-height: 80px;
}

#logocontainer {
    float: left;
    margin: 5px 15px 10px 0;
}

#sitetitle,
#sitetitle a,
#sitetitle p,
#sitetitle h1 {
    color: [[setting:fonttitlecolor]] !important;
    font-size: [[setting:fonttitlesize]];
    font-family: [[setting:fonttitlename]], sans-serif;
    font-weight: [[setting:fonttitleweight]] !important;
    max-width: [[setting:sitetitlemaxwidth]];
    min-width: 50%;
    overflow: visible;
    padding-left: [[setting:sitetitlepaddingleft]];
    position: relative;
    text-overflow: ellipsis;
    top: [[setting:sitetitlepaddingtop]];
    width: auto;
    white-space: nowrap;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

#coursesearchbox2 {
    border-radius: 0;
    box-shadow: none;
    min-width: 240px;
    padding: 8px 10px 5px;
    width: auto;
    background: #fff url([[pix:theme|search2]]) no-repeat 98% 50%;
}

#coursesearch2 {
    padding-top: 23px;
}

.socialbox {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: [[setting:socialpaddingtop]];
    vertical-align: middle;
}

.socialbox a {
    color: [[setting:headertextcolor2]] !important;
    padding-left: [[setting:socialpaddingsidehalf]]px;
    padding-right: [[setting:socialpaddingsidehalf]]px;
}

.socialbox a:first-of-type {
    padding-left: [[setting:socialpaddingside]]px;
}

.socialbox a:last-of-type {
    padding-right: [[setting:socialpaddingside]]px;
}

.socialbox a i {
    /* Make at least 29px, values look odd but on inspection they are needed to be so for FontAwesome. */
    font-size: [[setting:socialsize]];
    line-height: [[setting:socialsize]];
}

.headermenu {
    float: right;
    padding-top: 0;
    padding-right: 0;
    font-size: 0.8rem;
    color: #ccc;
    text-align: right;
    margin-left: 15px;
}

.headermenu span.fa.fa-angle-down {
    font-size: 0.8rem;
    padding-left: 5px;
}

.headermenu .usermendrop a {
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:topmenufontsize]];
}

.headermenu .usermendrop a:hover {
    text-decoration: none !important;
}

.usermendrop span {
    font-size: [[setting:topmenufontsize]];
    padding-right: 5px;
    height: 30px;
}

#page-header .userimg {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 15px;
}

nav .navlink .icon {
    color: #000;
}

#nav-notification-popover-container i,
a.nav-link,
a.dropdown-toggle,
a.userbutton,
.usermenu .login,
.usermenu .login a,
.usermenu .usertext {
    text-decoration: none;
    color: #000;
}

.popover-region-container {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 15px 1px #000;
    height: 500px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 30px;
    transition: height 0.25s ease 0s;
    visibility: visible;
    width: 360px;
    z-index: 100;
}

.count-container {
    right: -5px;
}

.popover-region-toggle::before,
.popover-region-toggle::after {
    visibility: hidden;
}

.popover-region-content-container {
    height: calc(100% - 100px);
}

.popover-region-header-container,
.popover-region-footer-container {
    height: 50px;
    line-height: 2;
}

.popover-region-header-text,
.popover-region-seeall-text {
    font-size: 1rem;
    line-height: 2;
}

.content-item-container.notification .content-item-body .notification-message {
    font-size: 1rem;
}

.content-item-container .content-item-footer .timestamp,
.content-item-container .view-more {
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .popover-region-container {
        font-size: 1rem;
        width: 400px;
    }
}

.usermenu2.nav {
    margin-bottom: 0;
    color: [[setting:headertextcolor]];
    font-size: [[setting:topmenufontsize]];
    padding-left: 10px;
}

.usermenu2.nav a.dropdown-toggle {
    font-family: [[setting:fontname]], sans-serif;
    font-size: [[setting:topmenufontsize]];
    color: [[setting:headertextcolor]];
}

.usermenu2 .fa.fa-comments {
    padding-right: 3px;
}

/* Badges */
.badge {
    padding: .4rem .6em;
}

a.component-expand .badge {
    margin: 0.8em 0.8em 0.4em 0.8em;
}

.badge,
.count-container {
    background-color: [[setting:msgbadgecolor]];
    color: [[setting:msgbadgecolortext]];
}

.badge-primary {
    color: #fff;
    background-color: #1177d1; }

.badge-primary[href]:hover,
.badge-primary[href]:focus {
        color: #fff;
        text-decoration: none;
        background-color: #0d5ca2;
}

.badge-secondary {
    color: #212529;
    background-color: #ced4da;
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
        color: #212529;
        text-decoration: none;
        background-color: #b1bbc4;
}

.badge-success {
    color: #fff;
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #449d44;
}

.badge-info {
    color: #212529;
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #31b0d5;
}

.badge-warning {
    color: #212529;
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #ec971f;
}

.badge-danger {
    color: #fff;
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c9302c;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5;
}

.badge-dark {
    color: #fff;
    background-color: #373a3c;
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1f2021;
}


.slidewrap {
    margin-top: [[setting:slidermargintop]];
    margin-bottom: [[setting:slidermarginbottom]];
}

#frontblockregion {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: [[setting:blockregionbackgroundcolor]];
}

#marketblocks .span4 {
    overflow: hidden;
}

.marketimage {
    display: block;
    width: 100%;
    border: 0;
}

#marketblocks h3 {
    font-size: 1.5rem;
    line-height: 3;
    font-weight: normal;
    margin: 10px auto;
}

.marketrow {
    margin-top: 20px;
}

img.emoticon {
    height: [[setting:emoticonsize]];
    width: [[setting:emoticonsize]];
}

.personpic {
    text-align: center;
}

#person img {
    border: 6px solid #fff;
    max-width: 130px;
    display: block;
    margin: 0 auto;
}

.persontitle {
    padding-top: 40px;
}

span.fa-chevron-right.fa {
    font-size: 0.6rem;
}

#theinfo .span3 {
    text-align: right;
    padding-top: 35px;
}

#theinfo2 .span3 {
    text-align: right;
    padding-top: 35px;
}

#frontpage-course-list h2 {
    display: [[setting:enableavailablecourses]];
}

#page-footer {
    margin: auto 0 0;
}

#page-footer,
#page-footer p {
    background-color: [[setting:footerbkcolor]];
    border-top: 0;
    bottom: 0;
    color: [[setting:footertextcolor]] !important;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}

#page-footer h3 {
    color: [[setting:footertextcolor]] !important;
    word-wrap: break-word;
}

#page-footer a {
    color: [[setting:footerlinkcolor]] !important;
}

#page-footer .block-list > li {
    padding: 0.3em 0;
}

.block-list > li {
    line-height: 1.2;
}

.white li a, .base-tabs a.white, .block-list a.white {
    color: #fff;
}

#page-footer li a span + span {
    color: #abb5bf;
    padding-left: 5px;
}

.fa.fa-chevron-right.icon-right-open-mini {
    font-size: 0.6rem;
}

#page-footer .block-list > li a {
    padding: 0;
}

#page-footer .blockplace3 {
    display: none;
}

#page-footer .blockplace2 {
    display: none;
}

#page-site-index #page-footer .blockplace2 {
    display: block;
}

.tool_dataprivacy {
    display: [[setting:gdprbutton]];
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.clear {
    clear: both;
}

.headermenu input[name=username],
.headermenu input[name=password] {
    height: 12px;
    padding-bottom: 4px;
}

#page-footer .logininfo {
    margin: 0 auto 0;
    font-size: 0.9rem;
    width: auto;
}

#page-footer .info {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid [[setting:dividingline2]];
    color: [[setting:footertextcolor2]];
}

#page-footer .info a {
  color: [[setting:footerlinkcolor]] !important;
}

.info nav ul li {
    border: medium none;
    display: inline-block;
    float: left;
}

.mrl, .mhl, .mal {
    margin-right: 20px !important;
}
.mtm, .mvm, .mam {
    margin-top: 10px !important;
}

.info nav ul li a {
    border-right: 1px solid #666;
    margin: auto;
    padding: 0.1em .8em;
}

#page-footer ol, #page-footer ul {
    list-style: none outside none;
    margin: 0 0;
}

#intro.generalbox {
    background-color: #bce5f2;
    border-color: #31b0d5;
    color: #212529;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin: 1em auto;
    padding: 10px;
    width: 85%;
}

#page-my-index #page-navbar {
    display: inline;
}

/* Overridden from Boost theme to ignore background colour set on dashboard. */
#page-my-index {
  background-color: unset;
}

.navbar .nav-collapse.in {
    border-top: none;
}

.navbar .nav {
    display: block;
    float: left;
    left: 0;
    margin: 0 0 0 4px;
    position: relative;
}

.navbar .nav > li > a {
    margin: 0 0 0 0 !important;
}

langmenu a:hover {
    background-color: none !important;
    text-decoration: none !important;
}

/* Breadcrumb */
#page-navbar {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb {
    background: none !important;
    background-color: [[setting:breadcrumb]] !important;
    padding: 5px;
}

.breadcrumb li {
    text-shadow: none;
    margin: 5px 0;
}

.breadcrumb li span a {
    text-decoration: none;
}

.breadcrumb li span.divider {
    display: none !important;
}

.breadcrumb > a {
    display: inline-block;
    margin: 5px 0;
}

.breadcrumb .fa {
    display: inline;
    margin: 12px 0;
}

.separator {
    margin: 9px;
}

.separator i {
    margin-left: 5px;
}

.breadcrumb ul i,
.breadcrumb li.lastli span {
    color: [[setting:breadcrumbtextcolor]];
    text-decoration: none;
}

.breadcrumb li a.firstli {
    padding-left: 15px;
    padding-right: 20px;
}

.breadcrumb li span.divider {
    display: none !important;
    border-bottom: 0 solid [[setting:maincolor]];
}

.breadcrumb-button {
    margin-top: 6px;
}

.arrow-top {
    border-bottom: 18px solid transparent;
    border-left: 17px solid [[setting:breadcrumb]];
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    z-index: 1;
}

.arrow-bottom {
    border-bottom: 18px solid transparent;
    border-left: 17px solid #fff;
    border-top: 17px solid transparent;
    height: 0;
    position: absolute;
    right: -18px;
    top: 0;
    width: 0;
}

.nav .dropdown-menu li a {
    border-bottom-color: none !important;
}

.pagelayout-redirect #content {
    width: 60%;
    background-color: #fff;
    margin: 20px auto;
    padding: 1em;
    border: 1px solid #dadada;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: none solid transparent;
    font-size: 0.8rem;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 95%;
    padding: 20px 20px 40px;
}

.singleselect {
    width: inherit;
}

#mode select,
#forummenu select {
    height: 36px;
}

[data-region='post-action'] {
    margin: 5px 5px 0 0;
}

#page-grade-export-xls-index #region-main table {
    display: block;
    overflow: auto;
    width: 100%;
}

.gradingform_guide .criterion .description {
    width: 100%;
    padding: 10px 5px 10px 5px;
}

#notice #modal-header h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold !important;
}

#notice.box {
    border: none;
    padding: 15px;
    margin-top: 100px;
    font-size: 1.5rem;
    color: [[setting:alertcolorinfo]];
    background-color: [[setting:alertbackgroundcolorinfo]];
    border-color: [[setting:alertbordercolorinfo]];
}

#notice #modal-content {
  background-color: [[setting:alertbackgroundcolorinfo]] !important;
  border: none;
}  


#notice .mform fieldset.collapsible legend a.fheader {
	color: [[setting:alertcolorinfo]];
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #page-content {
    margin: 20px auto 0;
    text-align: center;
    width: 80%;
}

.pagelayout-redirect #page {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    max-width: inherit;
    padding: 0;
}

#page-mod-forum-post #id_subject {
    width: 100%;
}

#plugins-control-panel, #admindeviceselector {
  display: block;
  overflow: auto;
}

#admindeviceselector .cell img {
  max-width: 420px;
}

span2.mceEditor iframe, table.mceLayout2 iframe {
    max-width: 500px !important;
}

#adminsettings h3 {
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-weight: [[setting:fontheaderweight]] !important;
    color: [[setting:fontheadercolor]];
    background-color: #eee;
    font-size: 1.5rem;
    display: block;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 0 0 0 10px;
    width: 100%;
    border-bottom: none;
}

.formsettingheading {
  padding: 5px;
}

.box.generalbox.formsettingheading {
  font-style: italic;
  color: #6c757d;
}


#region-main {
    background-color: [[setting:regionmaincolor]];
    border: none;
}

#region-main
.pagelayout-mydashboard #region-main {
    padding: 0 5px; /* Override Boost. */
}

/* lang menu */
.langmenu a {
    color: [[setting:headertextcolor]];
}

.langmenu a:hover {
    color: [[setting:headertextcolor]];
    background-color: none;
}

/* alert messages */
.alert .close {
    text-decoration: none;
}

.customalert {
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.customalert a {
    text-decoration: underline;
}

.customalert a:hover {
    color: red;
}


.customalert p {
  display: inline;
}

#beta {
    min-height: 50px;
    background-color: #CC0000;
}

#beta h3 {
    line-height: 48px;
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

/* Alerts */
.alert {
    margin-bottom: 0;
}

/* Course alerts */
.adaptable-alert-info {
    background-color: [[setting:alertbackgroundcolorinfo]];
    border-color: [[setting:alertbordercolorinfo]];
    color: [[setting:alertcolorinfo]];
}

.adaptable-alert-info a,
.adaptable-alert-info a:hover {
    color: [[setting:alertcolorinfo]];
}

.adaptable-alert-success {
    background-color: [[setting:alertbackgroundcolorsuccess]];
    border-color: [[setting:alertbordercolorsuccess]];
    color: [[setting:alertcolorsuccess]];
}
.adaptable-alert-success a,
.adaptable-alert-success a:hover {
    color: [[setting:alertcolorsuccess]];
}

.adaptable-alert-warning {
    background-color: [[setting:alertbackgroundcolorwarning]];
    border-color: [[setting:alertbordercolorwarning]];
    border-radius: 0;
    color: [[setting:alertcolorwarning]];
}
.adaptable-alert-warning a,
.adaptable-alert-warning a:hover {
    color: [[setting:alertcolorwarning]];
}

/* admin errors */
.adminerror {
    background-color: #f2dede;
    border-color: #ebcccc;
    border-radius: 0.25rem;
    color: #a94442;
    margin-bottom: 1rem;
    margin-top: 50px;
    padding: 0.75rem 1.25rem;
}

.notifytiny {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 0.25rem;
    margin: 1rem;
    font-size: 0.8rem;
    font-family: monospace;
    padding: 0.75rem 1.25rem;
}

.navbar .singlebutton,
.navbar input,
.navbar .singlebutton div,
.path-mod-data .navbar form {
  margin: 0 0;
  line-height: 18px;
}

#adaptable-page-header-wrapper .navbar #pre-login-form input {
    margin: 5px;
    padding: 2px;
}

#adaptable-page-header-wrapper .navbar #pre-login-form .btn-login {
    margin: 3px 1px 1px 10px;
    padding: 0px 15px;
    height: 30px;
}

.navbar input#navsearchbox {
    margin-right: 5px;
}

@media (min-width: 576px) {
    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > form {
        margin: 0;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable {
        padding: 0;
        position: relative;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > div { /* The button! */
        background-color: [[setting:backcolor]];
        color: [[setting:fontcolor]];
        height: 24px;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 24px;
    }

    #adaptable-page-header-wrapper #header2 .search-input-wrapper.expandable > div .icon {
        margin-top: 0;
    }
}

@media (max-width: 575.98px) {
    .search-input-wrapper.expanded {
        width: 32px;
    }
}

#adaptable-page-header-wrapper #header2 .search-input-wrapper>div .icon {
    margin-top: 8px;
}

.navbar .singlebutton input {
    margin-top: 3px;
    padding: 4px 15px;
    margin-left: 5px;
}

.navbar .forumsearch,
.navbar #coursesearchnavbar,
.navbar .wikisearch {
    margin-top: 3px;
}

.navbar .forumsearch input[type="text"] {
    padding: 0;
}

/* Help tooltip */
#edittingbutton .helptooltip a {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}

/* Show modal pop-up. */
#notice {
    margin: 30px auto;
    min-width: 220px;
    width: 70%;
}

/* Modal styles */
.moodle-dialogue-base .closebutton {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    position: relative;
    background-color: #fff !important;
    border: 0;
    background-image: none;
    box-shadow: 0 0 1px #fff;
    opacity: 0.7 !important;
    height: auto;
    padding: 0.5rem 0;
}

.moodle-dialogue-base .closebutton::after {
    content: "X";
    color: #ff0000;
    font-size: 1rem;
    font-weight: bold;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.modal {
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    background-clip: padding-box;
    outline: 0;
}

.modal.fade {
    transition: opacity .3s linear, top .3s ease-out;
}

.modal.fade.in {
    top: 10%;
}

.modal-title h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: none !important;
    background-color: transparent;
}

.modal-header h4 {
    font-weight: bold;
}

.modal-header .close {
    background-color: transparent !important;
    color: #777 !important;
    font-size: 1.5rem;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.modal-header .close:hover,
.modal-header .close:focus {
    color: #000 !important;
}

.modal-header h3 {
    margin: 0;
    line-height: 30px;
}

.modal-body {
    overflow-y: auto;
    padding: 15px;
    position: relative;
}

.modal-form {
    margin-bottom: 0;
}

.modal-content {
/*    background-color: [[setting:alertbackgroundcolorinfo]] !important;*/
    background-color: #f2f2f2 !important;
    border: 0 !important;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: none !important;
}

.modal-footer:after,
.modal-footer:before {
    display: table;
    content: "";
    line-height: 0;
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-footer::after, .modal-footer::before {
    content: "";
    display: table;
    line-height: 0;
}

/* Modal file Picker */
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    background: none;
    background-color: [[setting:maincolor]];
    border-bottom: 1px solid #bbb;
    color: #fff !important;
    font-family: [[setting:fontheadername]], sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.7em;
    text-align: center;
    text-shadow: 1px 1px 1px #666 !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1,
.moodle-dialogue h3 {
    font-family: [[setting:fontheadername]], sans-serif !important;
    color: #fff !important;
    text-shadow: 1px 1px 1px #666 !important;
    padding: 0;
    text-align: center;
}


.fp-formset .form-group {
    margin-bottom: 0.5rem !important;
}

.fcontainer .form-group  {
    margin-left: 1rem;
}

.form-group label {
    margin: 0.3rem 0.5rem 0.3rem 0.3rem !important;
}

.form-group .col-form-label {
    padding: 0 !important;
}

#page-navbar .breadcrumb-button {
    display: inline;
}

#gridshadebox_content ul.gtopics {
    margin: 12px 1px 0 1px;
}

.user-enroller-panel {
    z-index: 2;
}

#gridshadebox_content {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    min-height: 200px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

button.close {
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.close {
    float: right;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

#region-main .generaltable {
    overflow-x: auto;
    overflow-y: visible;
}

div.no-overflow, .yui3-datatable {
    overflow-y: visible;
    overflow-x: auto;
}

.paging {
    word-wrap: break-word;
}

/* Search box */
input[id^='searchinput-'] {
    width: 100%;
    max-width: 200px;
    z-index: 1;
}

.simplesearchform .btn {
    border-radius: 0 2px 2px 0;
}

.searchbox {
    float: right;
    padding: [[setting:searchboxpadding]];
}

.greybox {
    border: 1px solid #ccc;
}

.search-box__input {
    width: 280px;
}

button.search-box__button {
    background-image: none;
}

.search-box__button {
    margin: 2px !important;
    transition: background-color .2s ease-in-out;
}

.search-box {
    float: right;
    margin-bottom: 5px;
}

.bg-white {
  background-color: #fff;
}

.pas {
  padding: 2px 4px;
  float: right;
}

.no-border {
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#search-1 {
  padding: 5px 3px 5px 5px !important;
  margin: 0 !important;
  font-size: 0.8rem;
  color: #444;
}

#search-1:focus {
  border: none !important;
  box-shadow: none;
}

.icon-search {
    font-size: 1.4rem;
}

div.questionbankwindow.block {
    overflow: auto;
}

.que .formulation {
    background-color: [[setting:currentcolor]];
    border-color: #bce8f1;
    color: [[setting:fontcolor]];
}

.container {
    transition: width .5s ease-in-out;
}

#region-main {
    transition: all .5s ease-in-out;
}

#block-region-side-post {
    transition: all .5s ease-in-out;
    padding-right: 0;
}

#zoominicon {
    cursor: pointer;
    padding: 10px 2px 0 2px !important;
}

.moodlewidth {
    padding: 10px 2px 0 2px !important;
}

.showhideblocksdesc {
    padding-left: 1px;
    vertical-align: super;
}

#showsidebaricon {
    display: none;
}

@media(max-width: 991px) {
    #region-main {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #block-region-side-post {
        background-color: #fff;
        display: block !important;
        overflow: hidden;
        padding: 0;
        position: fixed;
        min-width: 90%;
        right: -90%;
        transition: right 0.75s;
    }
    .header-style1 #block-region-side-post {
        height: calc(100% - 120px);
        top: 160px;
    }

    .header-style1 .pageheadershown #block-region-side-post {
        height: calc(100% - 104px);
        top: 104px;
    }

    .header-style2 #block-region-side-post {
        height: calc(100% - 72px);
        top: 72px;
    }

    #block-region-side-post .block-controls {
        display: none;
    }
    
    #block-region-side-post.sidebarshown {
        box-shadow: -10px 0 8px -4px rgba(0,0,0,0.5);
        overflow-y: auto;
        right: 0;
        z-index: 2;
    }
    
    #showsidebaricon {
        background-color: [[setting:mobileslidebartabbkcolor]];
/*        
        border-bottom: 4px solid [[setting:mobileslidebartabbkcolor]];
        border-left: 4px solid [[setting:mobileslidebartabbkcolor]];
        border-top: 4px solid [[setting:mobileslidebartabbkcolor]];
*/
        box-shadow: -10px 0 8px -4px rgba(0,0,0,0.5);
        
        border-radius: 45px 0 0 45px;
        color: [[setting:mobileslidebartabiconcolor]];
        cursor: pointer;
        display: block;
        padding: 6px;
        position: fixed;
        right: 0;
        top: 305px;
        transition: right 0.75s;
        z-index: 2;
    }
    .sidebarshown #showsidebaricon {
        right: 90%;
    }
}

.fselect #id_courses {
    width: 100% !important;
}

.collapsibleregioncaption {
    cursor: pointer;
    text-decoration: underline;
}

.overview .name a {
    text-decoration: underline;
}

/* Renderer temporary changes */
.coursebox.panel.hover .panel-heading {
    display: none;
}

.cimbox {
  height: 175px;
  position: relative;
  margin-right: -1px;
  transition: all .5s ease-in-out;
}

.coursebox-content {
  padding: 10px 15px 0;
  text-align: center;
}

.coursebox.hover .summary {
  min-height: 50px;
  overflow: auto;
  position: absolute;
  text-align: center;
  color: [[setting:rendereroverlayfontcolor]] !important;
  padding: 15px;
  top: 0;
  left: 0;
  display: none;
}

.coursebox.hover .summary p {
  color: [[setting:rendereroverlayfontcolor]] !important;
}

.coursebox.panel.hover .panel-body:hover .coursebox-content h3 a {
  color: [[setting:rendereroverlayfontcolor]] !important;
}

.coursebox.hover .teachers li a,
.coursebox.hover .summary > a:link,
.coursebox.hover .summary > a:visited {
  color: [[setting:rendereroverlayfontcolor]] !important;
}

.coursebox.hover .teachers {
    text-align: left;
    padding-top: 2px;
    padding-left: 2px;
    color: [[setting:rendereroverlayfontcolor]] !important;
}

.coursebox.hover:hover .summary {
  height: auto;
  width: auto;
  min-width: 90%;
  min-height: 50px;
  display: block;
}

.coursebox.panel.hover .panel-body:hover {
  background-color: [[setting:rendereroverlaycolor]] !important;
  transition: all .5s ease-in-out;
}

.coursebox.panel .panel-body:hover .cimbox {
  opacity: .3;
  transition: all .5s ease-in-out;
}

.panel.hover .coursebtn.submit.btn {
    float: none;
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #eee !important;
    box-shadow: none;
    font-weight: 300;
    position: inherit;
    height: 2.5rem;
    font-size: 1.2rem;
}

.panel.hover .coursebtn.submit.btn .fa.fa-chevron-right {
    font-size: 1.2rem;
}

.coursebox.panel.hover {
  height: 100%;
}

.coursebox.panel.hover .panel-body .coursebox-content h3 {
    font-weight: normal;
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    line-height: normal;
    color: [[setting:rendereroverlaytitlecolor]];
    text-shadow: #fff 1px 0 1px;
}

.coursebox.hover .boxfooter {
  clear: none;
  margin-bottom: 0;
}

.coursebox .content .courseimage img {
  max-width: 300px;
}

.paging .paging-morelink {
    clear: both;
}

.dir-rtl.path-mod-forum .indent {
    margin-right: 3%;
    margin-left: 0;
}

.path-mod-forum .indent {
    margin-left: 3%;
}

.gradingform_guide.editor .addcriterion input,
.gradingform_guide.editor .addcomment input {
    background-color: #00aeef;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.gradingform_guide.editor .criterion .controls .delete input {
    width: 20px;
    height: 16px;
    background: transparent url([[pix:t/delete]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .moveup input {
    width: 20px;
    height: 15px;
    background: transparent url([[pix:t/up]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .movedown input {
    width: 20px;
    height: 15px;
    background: transparent url([[pix:t/down]]) no-repeat center top;
    margin-top: 4px;
}

.gradingform_guide.editor .movedown input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .controls .delete input:hover {
    background: #00aeef url([[pix:t/up]]) no-repeat center top;
}

.gradingform_guide.editor .addcriterion input,
.gradingform_guide.editor .addcomment input {
    padding-left: 10px;
    line-height: 20px;
    height: 36px;
    background-position: 5px 12px;
    color: #fff;
    font-weight: normal;
}

.gradingform_guide.editor .addcomment,
.gradingform_guide.editor .addcriterion {
    margin-top: 10px;
}

.footer-inner .pull-right {
    text-align: right;
}

#page-footer .validators,
#page-footer .purgecaches,
#page-footer .performanceinfo,
#page-footer #load {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#page-footer .purgecaches {
    clear: both;
	height: 2rem;
}

#page-footer .performanceinfo {
    margin: 10px 0;
}

.purgecaches a:link {
    color: #fff;
}

.helplink {
    text-align: center;
}

/* Pace Settings */
.pace {
    pointer-events: none;
    user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: [[setting:loadingcolor]];
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/* Hidden admin blocks */
.hidden-blocks {
  background-color: rgba(255, 154, 154, 0.5);
  border: 3px dashed #ff0000;
  margin-bottom: 16px;
  padding: 7px 7px;
}

.hidden-blocks .block-region .block {
  width: 25%;
  margin: 0 10px
}

.hidden-blocks .block-region .block .header {
  border-top: 0;
}
.hidden-blocks .block {
  float: right;
  width: 250px;
  margin-left: 10px;
}

.hidden-blocks h3 {
    border-bottom: 1px solid #e8eaeb;
    text-shadow: 1px 1px 2px #fff;
    color: #ff0000;
    margin-left: 10px;
}


/* Quiz navigation.
   Published by Tim Hunt in the moodle forum

   Some styles are modified for Adaptable
   Important!: Some colours are hardcoded. DO NOT MODIFY!!!
*/
.que.multichoice .answer div.r0 input, .que.multichoice .answer div.r1 input {
    margin: 0.3rem 0.5rem;
}

.que .formulation {
    background-color: transparent !important;
    border: 1px solid [[setting:maincolor]] !important;
}

.que .info {
    background-color: transparent !important;
    border: 1px solid [[setting:maincolor]] !important;
}

.path-mod-quiz #mod_quiz_navblock .qn_buttons {
    margin-right: -14px;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
    font-size: 0.8rem;
    line-height: 25px !important;
    font-weight: bold;
    background: none;
    background-color: #eee;
    height: 45px;
    width: 35px;
    border-radius: 4px;
    border: 0;
    margin: 0 5px 5px 0;
    color: [[setting:linkcolor]] !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
    border: 1px solid #999;
    border-radius: 4px;
    z-index: 1;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage .thispageholder {
    border: 3px solid #1f536b;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.flagged .thispageholder {
    background: url([[pix:theme|mod/quiz/flag-on]]) 20px 0 no-repeat;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton .trafficlight {
    border: 0;
    background: #fff none center 4px / 10px no-repeat scroll;
    height: 20px;
    margin-top: 25px;
    border-radius: 0 0 4px 4px;
}

/* Not yet answered */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight {
    background-color: #fff;
}

/* Correct answer */
.path-mod-quiz #mod_quiz_navblock .qnbutton.correct .trafficlight {
    background-color: #8bc34a;
}

/* Blocked */
.path-mod-quiz #mod_quiz_navblock .qnbutton.blocked .trafficlight {
    background-color: #000;
}

/* Wrong answer */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notanswered .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.incorrect .trafficlight {
    background-color: #f44336;
}

/* Partially correct */
.path-mod-quiz #mod_quiz_navblock .qnbutton.partiallycorrect .trafficlight {
    background-color: #ff9800;
}

/* Answered */
.path-mod-quiz #mod_quiz_navblock .qnbutton.complete .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.requiresgrading .trafficlight {
    background-color: #999;
}

/* Fix user image in quiz report */
#page-mod-quiz-report table#attempts td,
#page-mod-quiz-report table.quizresponseanalysis td {
    max-width: 100%;
    min-width: 30px;
}

/* Fix quiz page width */
#page-mod-quiz-attempt .container {
    width: 100% !important;
}

/* Backup / restore */
.path-backup .mform .grouped_settings.section_level {
    padding: 10px 0 0 10px;
}

.path-backup .wibbler {
    width: auto;
}


.rcs-search {
    margin: auto 0 0 5px;
}

/* Fix Video Player icons */
.vjs-icon-play::before,
.video-js .vjs-big-play-button::before,
.video-js .vjs-play-control::before,
.vjs-icon-fullscreen-enter::before,
.video-js .vjs-fullscreen-control::before {
    font-family: videojs;
}

/* Fix activity restriction dialog (and others?) */
.moodle-dialogue-content[role="dialog"] .row {
    margin-left: inherit;
}

/* Edit hover dropdown background */
.moodle-actionmenu.show[data-enhanced] .menu a:hover {
    background-color: #c0c0c0;
}

.moodle-actionmenu.show[data-enhanced] .menu {
    height: auto;
}

/* img assignment */
.path-mod-assign [data-region="user-info"] .img-rounded {
    height: 60px;
}

/* Messages / Notifications */
.popover-region {
    float: left;
    margin-right: 5px !important;
}

/* messages icons size */
.popover-region-toggle .icon img{
    width: 24px;
    height: 24px;
}

/* New message drawer (moodle 3.6 and higher) */
.message-drawer {
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.08);
    border-left: 1px solid [[setting:headerbkcolor]];
}

[data-region="right-hand-drawer"].drawer {
    width: 20%;
    min-width: 320px;
}

.rounded-circle {
    max-width: none !important;
}

[data-region='message-drawer'] [data-region='view-overview']  {
    margin-top: 25px;
}

[data-region="view-overview-search-input"].form-control input {
    height: 36px !important;
}

.fa-times-rectangle::before,
.fa-close::before,
.fa-window-close::before {
    content: "\f00d";
    color: #ff0000;
}


.icon-back-in-app .fa-times {
    color: #ff0000;
}
    
.message-app .header-container {
    margin-top: 15px;
}

.message-app .icon {
    margin-bottom: 5px;
}

/* Emojis categories picker */
.btn-outline-secondary.category-button {
    background-color: transparent !important;
}

.btn-outline-secondary.category-button:hover {
    background-color: transparent !important;
    border-bottom: 2px solid [[setting:maincolor]];
    border-radius: 0;
}

.btn-outline-secondary.category-button i {
    color: #78909c !important;
}

.btn-outline-secondary.category-button i:hover {
    color: #000 !important;
}

/* Selected and Hover category button */
.emoji-picker .category-button.selected {
    border-bottom: 2px solid [[setting:maincolor]];
    border-radius: 0;
}

[data-region='emoji-picker'].btn.btn-outline-secondary,
.emoji-picker .btn-link.btn-icon {
    background-color: transparent !important;
    padding: 0 !important;
}

[data-region='emoji-picker'].btn.btn-outline-secondary:hover,
.emoji-picker .btn-link.btn-icon:hover {
    background-color: transparent !important;
    border: 1px solid #666;
}

/* Emojis picker */
[data-region='emoji-picker-container'].btn.btn-link.btn-icon:hover,
[data-region='emoji-picker-container'].btn.btn-link.btn-icon:focus {
    background-color: #e9ecef !important;
}

[data-region='emojis-container'].btn.btn-link.btn-icon {
    background-color: transparent !important;
}

[data-region='emojis-container'].btn.btn-link.btn-icon:hover,
[data-region='emojis-container'].btn.btn-link.btn-icon:focus {
    background-color: #e9ecef !important;
}

.closewidget {
    margin-top: 15px;
}

#overlaymenuclose,
[data-action='closedrawer'].btn-link {
    background-color: #eff1f3 !important;
    border: 2px solid [[setting:buttoncolor]];
    border-radius: [[setting:buttonradius]];
    text-decoration: none !important;
}

#overlaymenuclose:hover,
[data-action='closedrawer'].btn-link:hover {
    background-color: #eff1f3 !important;
    text-decoration: none !important;
}

[data-action='closedrawer'].btn.btn-outline-secondary {
    background-color: transparent;
    border: none;
    color: red;
}

.message-app .btn.btn-link:hover,
.message-app .btn.btn-link:focus {
    background-color: [[setting:buttonhovercolor]];
    color: [[setting:buttontextcolor]] !important;
}

.emoji-picker .emoji-short-name {
    font-size: 1rem;
    line-height: 2.5;
}

[data-region="send-message-txt"].form-control {
    width: 90% !important;
}

[data-region='message-drawer'] [data-region='view-overview'] .input-group .input-group-text {
    border-radius: 25px 0 0 25px;
}

[data-region="message-drawer"] [data-region="view-overview"] .input-group [data-region="view-overview-search-input"] {
    border-radius: 3px 0 0 3px !important;
}

[data-region='message-drawer'] [data-region='search-input'] {
    border-radius: 25px;
    margin-right: 4px;
}

[data-region='message-drawer'] [data-region='header-container'] [data-region='contact-request-count'] {
    color: #fff;
}

[data-region='message-drawer'] [data-region='header-container'] [data-region='contact-request-count'],
[data-region='message-drawer'] [data-region='body-container'] [data-region='section-unread-count'],
[data-region='message-drawer'] [data-region='body-container'] [data-region='unread-count'] {
    background-color: #f00 !important;
    border-radius: 25px;
    height: 25px;
}

[data-region='message-drawer'] [data-region='body-container'] [data-region='last-message-date'] {
    padding-top: 0.1rem !important;
}

[data-region='message-drawer'] [data-region='body-container'] .btn-link {
    background-color: #fff;
    border-radius: 0;
    color: inherit !important;
}

[data-region='message-drawer'] [data-region='body-container'] .btn-link:hover {
    color: #fff !important;
}


/* Set icon colour to white to fit default Adaptable colours)
Change the filter selector for other colours */
.message-drawer button img.icon {
    filter: grayscale(100%) brightness(5);
    max-width: none !important;
    margin-left: -5px;
    padding-right: 0;
}


.message-drawer .btn-block, /* M3.6 */
.message-app.drawer .btn-block { /* M3.7 */
    margin-left: 0;
}

/* Dimmed text (courses or users) */
.dimmed,
a.dimmed,
a.dimmed:link,
a.dimmed:visited,
a.dimmed_text,
a.dimmed_text:link,
a.dimmed_text:visited,
.dimmed_text,
.dimmed_text a,
.dimmed_text a:link,
.dimmed_text a:visited,
.usersuspended,
.usersuspended a,
.usersuspended a:link,
.usersuspended a:visited,
.dimmed_category,
.dimmed_category a {
    color: #999999 !important;
}

.activity img.iconlarge {
    height: [[setting:coursesectionactivityiconsize]];
    width: [[setting:coursesectionactivityiconsize]];
    vertical-align: middle;
}

.section li.activity {
    padding-top: 0;
    padding-bottom: 0;
    clear: both;
}

/* Plugins installation status */
.status-upgrade {
    background-color: #d9edf7;
}

.status-new {
    background-color: #dff0d8;
}


/* Activity chooser styling. */
.moodle-dialogue-base .moodle-dialogue.chooserdialogue {
    min-width: 90%;
    height: 100%;
}

.choosercontainer #chooseform .option label {
    display: block;
    padding: 0.4em 0 0.7em 0;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}

.jschooser .choosercontainer #chooseform .alloptions .option .typename {
    display: inline-block;
    width: 65%;
    font-size: 1.2rem;
}

/* Only set these options if we're showing the js container */
.jsenabled .choosercontainer #chooseform .alloptions {
    max-width: 95%;
}

.chooserdialogue .moodle-dialogue-wrap {
    margin-top: 15px;
    margin-left: -3px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    background-image: none;
    color: #565656;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 0px;
    text-align: left;
    font-size: 1rem;
    min-height: 20px;
}

.moodle-dialogue-base .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    background-image: none;
}

.choosercontainer #chooseform .selected .typesummary,
.choosercontainer #chooseform .selected .instruction {
    display: none;
}
/* End Activity chooser styling */

#savediscardsection {
    width: 100%;
    min-width: 100%;
    min-height: 30px;
    padding: 10px;
    top: 10px;
    background-color: #EEEEEE;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: fixed; /* For IE8 and earlier */
}

img.smallicon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#page-course-resources table.mod_index td img {
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

#page-course-resources #region-main table.generaltable {
    display: table;
}

#profilepic img,
.userpicture {
    display: inline;
    margin: 0 4px 0 0;
    background-color: #fff;
    border-radius: 50%;
}

#adaptable-page-header-wrapper #above-header .userpicture {
     width: 25px ;
     height: 25px;
}

#adaptable-page-header-wrapper #header2 .userpicture {
    width: 35px ;
    height: 35px;
}

.comment-message .picture {
  width: 30px;
  float: left;
}

.tag_list .inline-list a.label-info[href] {
    color: #fff !important;
}

/* User profile */
.userprofile .profile_tree .contentnode dd
{
    word-break: break-all;
}

.path-user .userprofile > .page-context-header,
.path-user .userprofile > .description {
    display: none;
}

#page-user-profile .node_category li,
.path-user .node_category li {
    margin-bottom: 5px;
}

#adaptable_profile_tree .ucol1 .node_category.contact {
    margin-top: 3.5rem; /* Magic number to line up with tabs. */
}

#adaptable_profile_tree .ucol1 .node_category.contact .firstname,
#adaptable_profile_tree .ucol1 .node_category.contact .fullname {
    padding-top: 30px;
}

#adaptable_profile_tree .ucol1 .adaptableuserpicture {
    position: relative;
}

#adaptable_profile_tree .ucol1 .adaptableuserpicture a {
    left: 0;
    position: absolute;
    right: 0;
    top: -80px;
}

#adaptable_profile_tree .ucol1 .adaptableuserpicture a img.userpicture {
    margin-right: 0;
}

.path-user #adaptable_profile_tree .node_category .editprofile {
    text-align: left;
}

#adaptable_profile_tree .ucol1 .adaptableuserpicture a,
.path-user #adaptable_profile_tree .ucol1 .node_category .editprofile,
#adaptable_profile_tree .ucol1 .contentnode {
    text-align: center;
}

#adaptable_profile_tree .ucol1 .firstname,
#adaptable_profile_tree .ucol1 .fullname,
#adaptable_profile_tree .ucol1 .lastname {
    font-weight: bold;
}

#adaptable_profile_tree .ucol1 .firstname,
#adaptable_profile_tree .ucol1 .fullname {
    font-size: 1.5rem;
}

#adaptable_profile_tree .ucol1 .lastname {
    font-size: 1.4rem;
}

.adaptablemyeditprofile .col-md-3,
.adaptablemyeditprofile .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

.adaptablemyeditprofile .col-md-3 span.float-sm-right {
    float: none !important;
}

.adaptablemyeditprofile .col-md-3 label.col-form-label.d-inline {
    float: left !important;
}

.adaptablemyeditprofile .col-md-3 .text-info,
.adaptablemyeditprofile .col-md-3 label.col-form-label.d-inline {
    margin: 0;
}

.adaptablemyeditprofile .col-md-3 .btn {
    height: 26px;
}

.adaptablemyeditprofile .fp-restrictions {
    text-align: left;
}

.searchbox abbr[title]{
    border-bottom:none;
    cursor:pointer;
    text-decoration:none;
}

.groupmanagementtable .row {
    margin-left: 0px;
}

/* Added to style the grid of letters etc on participants page */
.userlist .initialbar .letter {
    height: 1.8em;
    min-width: 1.8em;
    border: 0;
}

.userlist .initialbar .letter.active {
    line-height: 2em;
}

.userlist .initialbar {
    margin-bottom: 10px;
}

.userlist .initialbar .letter:hover {
    color: #fff !important;
}

/* Adaptable 2.0 */
.p-0 {
    background-color: transparent !important;
}

.row-fluid .col-9 {
    width: 74.46808511%;
    *width: 74.41489362%;
    max-width: none;
    flex: none;
    min-height: inherit;
}

.row-fluid .col-3 {
    width: 24.40425532%;
    *width: 24.35106383%;
}

@media (max-width: 767px) {
    .row-fluid .col-3 {
        flex: none;
        max-width: 100%;
        width: 100%;
    }

    .row-fluid .col-9 {
        flex: none;
        max-width: none;
        width: 100%;
    }
}

.form-inline input.form-control[type="text"] {
    min-width: 120px;
    border-radius: 2px;
    height: 2.25rem;
}

#page-login-index .card-header {
    display: none;
}

/* Block action classes lifted from previously used bootstrapbase parent theme. */

.block.hidden .header .block_action .block-hider-hide {
    display: none;
}
.block.hidden .header .block_action .block-hider-show {
    display: inline;
}

.block .header .block_action {
    padding: 3px 2px;
    float: right;
}

.block .header .block_action > * {
    margin-left: 3px;
}

.block .header .block_action .block-hider-show,
.block .header .block_action .block-hider-hide {
    cursor: pointer;
}

.block .header .block_action .block-hider-show {
    display: none;
}

.jsenabled .block.hidden .content {
    display: none;
    opacity: 0;
}

.jsenabled .block .content {
    opacity: 1;
    display: block;
    transition: ease [[setting:navbardropdowntransitiontime]];
}

/* Dialog box styling. */
.moodle-dialogue-base .moodle-dialogue-wrap .container,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .container
  {
    width: 100%;
}

.moodle-dialogue-base button.closebutton,
.moodle-dialogue-base .chooserdialogue button.closebutton,
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons button.yui3-button.closebutton
 {
    opacity: 1;
    line-height: 1.2em;
    border-radius: 3px;
    background-color: #FFF;
    width: 26px;

}

.moodle-dialogue-base .closebutton::after,
.moodle-dialogue-base .chooserdialogue .closebutton::after
.moodle-dialogue-base .chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons button.yui3-button.closebutton:after
 {
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    background: none;
    color: #777;
}

.form-group textarea.form-control {
    margin: 0 0 0.7rem 0;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    padding: 0.6em;
}

.settingsform fieldset {
    margin-bottom: 10px;
}

.settingsform .form-item .form-label {
    padding-left: 0;
}

.modal.modal-in-page {
    z-index: 1;
}

/* Course import page. */

.path-backup .backup-section .header {
    margin-bottom: 20px;
}

.backup-section .ics-results {
    margin-top: 15px;
}

.path-backup .detail-pair .detail-pair-label {
    width: 20%;
    font-size: 1.5rem;
}

.path-backup .detail-pair-value .ics-search input[type="submit"] {
    margin: 10px 0 0;
}

.path-backup .detail-pair .detail-pair-value input[type="submit"] {
    margin: 10px 0 0;
}

/* File Picker */
.fp-setlicense select {
    display: block;
}

/* Course restore */
.detail-pair-label,
.detail-pair-value {
    font-size: 1.2rem !important;
}

.form-control-static .icon
.detail-pair-value .icon {
    font-size: 1.5rem !important;
}

.subheader h3 {
    font-size: 1.6rem !important;
    margin-top: 70px !important;
}

.path-backup .backup_progress {
    padding: 7px 5px;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.backup_stage .backup_stage_current,
.backup_stage .backup_stage_next {
    color: [[setting:maincolor]];
}

.path-backup .detail-pair .detail-pair-value input[type="submit"] {
    margin: 0;
}

/* info icon */
.text-info {
    color: [[setting:infoiconcolor]] !important;
    margin-top: 9px; /* fix vertical alignment */
}

/* Highlight results */
.highlight {
  color: [[setting:selectiontext]];
  background-color: [[setting:selectionbackground]];
}

/* danger icon */
.text-danger,
.notconnected,
.que .validationerror,
.text-error {
    color: [[setting:dangericoncolor]] !important;
}

/* Success / Fail icon */
.text-success,
.green,
.notifysuccess,
.connected,
.detail-pair-value .text-danger,
.form-control-static .text-danger,
.notconnected,
.que .validationerror,
.text-error {
    font-size: 1.5rem !important;
}

/* Fix footer position */
#page {
    min-height: 100vh;
}

#page-login-index #page-footer {
    margin: auto 0 0 !important;
}

/* Login Page */
#page-login-index {
    [[setting:loginbgimage]];
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background Image */
#page-login-index .outercont {
    padding: 0 15px !important;
    margin: 0 !important;
    flex-shrink: 0;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#page-login-index .fullin.narrow .container,
#page-login-index .fullin.standard .container {
    width: 100% !important;
}

.progress {
    width: 100%;
}

.progressbar_container {
    max-width: none;
}

.dropdown-item {
    color: [[setting:fontcolor]];
}

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:focus-within {
    outline: 0;
    color: [[setting:fontcolor]];
    text-decoration: none;
    background-color: #ccc;
}

.context-header-settings-menu .dropdown .dropdown-item:hover,
.context-header-settings-menu .dropdown .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
}

/* Tabs ***************************************************************************/
.nav-tabs {
    border-bottom: 4px solid [[setting:maincolor]];
    padding-bottom: 2px;
}

.nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #fff;
    color: [[setting:maincolor]];
}

.nav-tabs .nav-link:hover {
    border-color: [[setting:maincolor]] [[setting:maincolor]] #fff;
    color: [[setting:maincolor]];
}

/* Active */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: [[setting:maincolor]];
}


.tabcontentcontainer input.adaptabletab:checked + label {
    background-color: [[setting:headerbkcolor]];
    border-color: [[setting:headerbkcolor]];
    color: [[setting:headertextcolor]];
}

.tabcontentcontainer label.adaptabletab {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    padding: 1rem;
    position: relative;
    transition: background-color .2s ease;
}

/* Tab panel content. */
#adaptable_profile_tree .adaptable-tab.tab-panel {
    border: 1px solid rgba(0,0,0,.125); /* Same colour as profile card border. */
    border-color: #dee2e6 #dee2e6 #fff;
}

/* Remove borders on cards in the tabs. */
.adaptable-tab.tab-panel .node_category {
    border-color: transparent;
}

/* CSS for the one topic format tabs. */
.onetopic .nav-tabs .nav-link {
    margin: 2px; /* Magic number so tabs can have border. */
    border: 1px solid #eee;
    border-bottom-color: transparent;
}

/* Give active tabs brand colour background. */
.onetopic .nav-tabs .nav-link.active,
.onetopic .nav-tabs .nav-item.show .nav-link {
    background-color: [[setting:headerbkcolor]];
    color: [[setting:headertextcolor]];
    border-color: transparent;
}

/* Forum */
[data-container="discussion-tools"] .btn.btn-link {
    background-color: transparent !important;
    border: none !important;
    border-radius: 100% !important;
    color: #000 !important;
    box-shadow: none;
}

[data-container="discussion-tools"] .btn.btn-link:hover {
    background-color: #c0c0c0 !important;
}

[data-container="discussion-tools"] .btn.btn-link .icon {
    margin: -0.2rem 0.5rem 0 !important;
}

.discussion .btn-link,
.discussion .btn-link:hover {
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    color: [[setting:maincolor]];
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    transition: background 0.2s ease-out 0s;
    margin-top: 0;
    margin-right: 0;
}

.menu-action-text .fa-star-o,
.menu-action-text .fa-star {
    color: [[setting:maincolor]];
}

/* Icons conversion */
.fa-ellipsis-v::before {
    content: "\f141";
}

.container.outercont {
}