/*
* This file is part of Adaptable theme for moodle
*
* Moodle is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Moodle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*
*
* Adaptable block styles sheet
*
* @package    theme_adaptable
* @copyright  2015-2021 Fernando Acedo (3-bits.com)
* @copyright  2015-2019 Jeremy Hopkins (Coventry University)
* @copyright  2018-2019 Manoj Solanki (Coventry University)
*
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

.block-region-front .block {
    border: none;
}

.block-region-front .block .header {
    border: none;
}

.block .content a.dimmed {
    font-style: italic;
}

.block_timeline .col-sm {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 100%;
}

/* Reset border values */
[class^="block-side-"] .card-body,
.block {
    background: [[setting:blockbackgroundcolor]] !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-bottom: 2px;
}

/* Block titles */
.block .header,
.block > .card-body,
#dockeditempanel .dockeditempanel_hd {
    border-width: [[setting:blockheaderbordertop]] [[setting:blockheaderborderright]] [[setting:blockheaderborderbottom]] [[setting:blockheaderborderleft]];
    border-color: [[setting:blockbordercolor]];
    border-style: [[setting:blockheaderbordertopstyle]];
    padding: 5px;
    border-radius: [[setting:blockheadertopradius]] [[setting:blockheadertopradius]] [[setting:blockheaderbottomradius]] [[setting:blockheaderbottomradius]];
}

/* Block header */
.block .header,
#dockeditempanel .dockeditempanel_hd {
    background: [[setting:blockheaderbackgroundcolor]];
}

.block .header {
    padding-right: 0;
}

.block .menubar {
    float: right;
}

/* Block title */
.block .title h2 {
    color: [[setting:fontblockheadercolor]];
    font-size: [[setting:fontblockheadersize]];
    font-weight: [[setting:fontblockheaderweight]] !important;
    margin-bottom: 0;
    text-shadow: none;
    text-transform: none;
}

.block .header .block_action {
    margin: 0;
    margin-top: -5px;
}


.block-controls {
    border: none !important;
    background-color: transparent !important;
}

/* Block content */
.block > .content,
#dockeditempanel .dockeditempanel_bd {
    border-width: [[setting:blockmainbordertop]] [[setting:blockmainborderright]] [[setting:blockmainborderbottom]] [[setting:blockmainborderleft]];
    border-color: [[setting:blockbordercolor]];
    border-style: [[setting:blockmainbordertopstyle]];
    padding: 10px 5px;
    font-weight: normal;
    background: [[setting:blockbackgroundcolor]];
    border-radius: [[setting:blockmaintopradius]] [[setting:blockmaintopradius]] [[setting:blockmainbottomradius]] [[setting:blockmainbottomradius]];
}

.block-region-front .block .content {
    padding: 10px 5px;
}

.block .content a,
.block .content li a,
.block .content td a {
    color: [[setting:maincolor]];*/
}

.block .content a:hover,
.block .content li a:hover,
.block .content td a:hover {
    color: [[setting:maincolor]];
    background-color: [[setting:menuhovercolor]];
    text-decoration: none !important;
}

.block .block-hider-show,
.block .block-hider-hide {
    width: 18px;
}

/* Added for 3.7 to make dropdowns in blocks be like Boost default as Adaptable styling above for .block .content a makes it appear dark and not unreadable. */
.block .content a.dropdown-item:active {
    color: #fff;
    background-color: [[setting:navbardropdownhovercolor]]
}

/** Some specific block styles for calendar block, login block, my profile block, etc. **/
/* Navigation block */
.jsenabled .block_settings .block_tree .tree_item.branch,
.block_navigation .block_tree .tree_item.branch {
    color: [[setting:maincolor]] !important;
}

/* Fix wrong indentation */
.block_navigation .block_tree p.hasicon img {
    padding-right: 0;
}

/* Course Timeline block */
.block .content .block-timeline a:hover {
    background-color: [[setting:navbardropdownhovercolor]] !important;
    color: #333 !important;
}

/* Login block */
.block_login label {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
}

.block_login .username label:before {
    content: "\f007";
    font-family: "FontAwesome";
    margin-right: 5px;
    color: #999;
}

.block_login .password label:before {
    content: "\f084";
    font-family: "FontAwesome";
    margin-right: 5px;
    color: #999;
}

.block_login2 .btn,
.block_login2 .content .footer a {
    background-image: none;
    background-color: #5cb85c;
    border-color: #30ADD1;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    padding: 4px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    margin: 10px 0;
    transition: 0.25s;
    width: 100%;
}

.block_login2 .btn:hover {
    background-color: #388f9d !important;
}

#page-login-index2 #loginbtn {
    background-color: #4f9e4f;
    text-shadow: none;
}

.block_login2 .content .footer div:nth-child(1) a,
#page-login-index2 .forgetpass a {
    color: #fff;
    text-align: center;
    background-color: #ee981e;
    border-color: #ee981e;
    background-image: none !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#page-login-index2 .forgetpass a {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    max-width: 260px;
    text-shadow: none;
}


#page-login-index2 .forgetpass {
    clear: both;
    float: right;
    text-align: left;
    width: 66%;
}

.loginbox .loginpanel .desc {
    clear: both;
}

.block_login .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.block_login .c1.btn input {
    display: block;
    text-align: center;
    width: 96%;
}

.loginbox .loginform .form-input input {
    width: 50%;
}

.loginbox .loginform .form-input {
    float: right;
    width: 66%;
}

.loginbox .loginform .form-label {
  width: 33%;
}

/* Admin block */
.block_adminblock .content {
    margin: 0 auto;
}

/* Course Overview block */
.block_course_overview .content {
    margin: 0;
}

.btn.coursemenubtn {
    background-color: transparent !important;
    border: none !important;
    color: #000 !important;
    box-shadow: none;
}

.btn.coursemenubtn:hover {
    background-color: #f0f0f0 !important;
    border-radius: 100% !important;
}

.coursemenubtn .fa {
    color: #000000 !important;
}

/* Calendar block */
.block_calendar_month table.minicalendar.calendartable td {
    border: none !important;
}

.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
    border-radius: 0;
    background-color: #e0e0e0;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0 !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block .calendar-controls .previous:before {
    content: "\f053";
    font-family: "FontAwesome";
}

.block .calendar-controls .next:before {
    content: "\f054";
    font-family: "FontAwesome";
}

.block .calendar-controls .previous .arrow,
.block .calendar-controls .next .arrow {
    display: none;
}


/* Comments block */
.block_comments div.content li {
    list-style-type: none;
}

.block_tree_box hr {
    background: transparent;
    border: none;
    border-top: 1px solid #eee;
}

/* Site Info block */
.site-info-container {
    background-color: [[setting:maincolor]];
    padding: 5px 10px;
    height: 120px
}

.site-info-value {
    color: #fff;
    font-size: 3rem;
    display: block;
    text-align: right;
}

.site-info-label {
    color: #fff;
    font-size: 1.5rem;
    display: block;
    text-align: right;
}

/* Server Info block */
.server-info-container {
    background-color: #39c121;
    padding: 5px 10px;
    height: 120px
}

/* Quiz editing block header */
.questionbankwindow.block {
    padding: 0;
}

#page-mod-quiz-edit .questionbankwindow div.header {
    background-color: #eee;
    color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
    color: inherit;
}

#mod_quiz_navblock input {
    white-space: normal;
}

/* Hidden blocks */
.block.hidden .header {
    border-bottom: 0;
}

.block.invisible:hover {
    opacity: 1;
}

.block .block-hider-show, .block .block-hider-hide {
    width: 12px;
}

body.has_dock div#dock {
    z-index: 3;
}

/* Squared dot */
.block_settings .block_tree li.item_with_icon > p img {
    left: 3px;
    top: 2px;
}

/* Add or hide block icons */
.block h2:before {
    font-family: "FontAwesome" !important;
    font-weight: 400 !important;
    font-size: [[setting:blockiconsheadersize]];
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    content: "\f0c9";
    padding-right: 8px;
    display: inline-block;
    margin-right: 5px;
}

.block_news_items h2:before {
    content: "\f0a1";
}

.block_navigation h2:before {
    content: "\f0e8";
}

.block_calendar_upcoming h2:before,
.block_calendar_month h2:before {
    content: "\f133";
}

.block_course_list h2:before {
    content: "\f108";
}

.block_completionstatus h2:before,
.block_selfcompletion h2:before {
    content: "\f0e4";
}

.block_blog_menu h2:before {
    content: "\f02d";
}

.block_quiz_results h2:before {
    content: "\f080";
}

.block_quiz_navblock h2:before {
    content: "\f126";
}

.block_glossary_random h2:before {
    content: "\f0eb";
}

.block_book_toc h2:before {
    content: "\f02d";
}

.block_participants h2:before,
.block_online_users h2:before {
    content: "\f0c0";
}

.block_html h2:before {
    content: "\f022";
}

.block_section_links h2:before {
    content: "\f02e";
}

.block_activity_modules h2:before {
    content: "\f12e";
}

.block_comments h2:before {
    content: "\f075";
}

.block_settings h2:before {
    content: "\f085";
}

.block_admin_bookmarks h2:before {
    content: "\f02e";
}

.block_blog_tags h2:before,
.block_tags h2:before {
    content: "\f02c";
}

.block_private_files h2:before {
    content: "\f07b";
}

.block_block_mentees h2:before {
    content: "\f0c0";
}

.block_messages h2:before {
    content: "\f0e0";
}

.block_community h2:before {
    content: "\f0ac";
}

.block_recent_activity h2:before {
    content: "\f017";
}

.block_rss_client h2:before {
    content: "\f09e";
}

.block_search_forums h2:before,
.block_globalsearch h2:before {
    content: "\f002";
}

.block_myprofile h2:before {
    content: "\f007";
}

.block_adminblock h2:before {
    content: "\f009";
}

.block_feedback h2:before {
    content: "\f087";
}

.block_flickr h2:before {
    content: "\f03e";
}

.block_youtube h2:before {
    content: "\f145";
}

.block_course_badges h2:before,
.block_badges h2:before {
    content: "\f0a3";
}

.block_twitter_search h2:before {
    content: "\f099";
}

.block_overview h2:before {
    content: "\f03a";
}

.block_timeline h2:before {
    content: "\f062";
}

.block_starredcourses h2:before {
    content: "\f005";
}

.block_lp h2:before {
    content: "\f277";
}

/* Overriden from Boost. */
.block_tree .tree_item.branch {
    margin-left: 0;
}

.block_settings .block_tree .tree_item.branch {
    padding-left: 5px;
}

.block_settings .block_tree p.hasicon {
    padding-left: 5px;
}

/* Add slightly extra margin on right. */
.block_settings .block_tree p.hasicon .icon {
    margin-right: 4px;
}

/* Tabbed layout for course and dashboard */

main.tabcontentcontainer {
  min-height: 400px;
  padding: 0;
  background: #fff;
}

#dashboardtabcontainer section.adaptable-tab-section {
  display: none;
  padding: 20px 0 0;
  border-top: 4px solid [[setting:tabbedlayoutdashboardcolorselected]];
}

#coursetabcontainer section.adaptable-tab-section {
  display: none;
  padding: 20px 0 0;
  border-top: 4px solid [[setting:tabbedlayoutcoursepagetabcolorselected]];
}

#dashboardtabcontainer input.dashboardtab,
#coursetabcontainer input.coursetab
 {
  display: none;
}

.tabcontentcontainer div.linktab,
.tabcontentcontainer label.dashboardtab,
.tabcontentcontainer label.coursetab {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  margin: 0 4px 0 0;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.2s ease;
}

.tabcontentcontainer label.dashboardtab {
    background-color: [[setting:tabbedlayoutdashboardcolorunselected]];
}

.tabcontentcontainer div.linktab,
.tabcontentcontainer label.coursetab {
    background-color: [[setting:tabbedlayoutcoursepagetabcolorunselected]];
}

.tabcontentcontainer div.linktab {
    line-height: 1;
    vertical-align: top;
}

.tabcontentcontainer div.linktab a {
    color: inherit;
}

.tabcontentcontainer > dashboardtab.label:hover::after,
.tabcontentcontainer > dashboardtab.input:focus + label::after,
.tabcontentcontainer > dashboardtab.input:checked + label::after {
  background-color: [[setting:tabbedlayoutdashboardcolorselected]];
}

.tabcontentcontainer > coursetab.label:hover::after,
.tabcontentcontainer > coursetab.input:focus + label::after,
.tabcontentcontainer > coursetab.input:checked + label::after {
    background-color: [[setting:tabbedlayoutcoursepagetabcolorselected]];
}

.tabcontentcontainer div.linktab,
.tabcontentcontainer input.dashboardtab:checked + label {
    border-color: [[setting:tabbedlayoutdashboardcolorselected]];
    background-color: [[setting:tabbedlayoutdashboardcolorselected]];
    border-top: 4px solid [[setting:tabbedlayoutdashboardcolorselected]];  /* Override this in custom css to change the selected tab colour */
    color: #fff;
}

.tabcontentcontainer input.coursetab:checked + label {
    border-color: [[setting:tabbedlayoutcoursepagetabcolorselected]];
    background-color: [[setting:tabbedlayoutcoursepagetabcolorselected]];
    border-top: 4px solid [[setting:tabbedlayoutcoursepagetabcolorselected]];  /* Override this in custom css to change the selected tab colour */
    color: #fff;
}

#tab-content:checked ~ #adaptable-course-tab-content,
#tab1:checked ~ #adaptable-course-tab-1,
#tab2:checked ~ #adaptable-course-tab-2 {
    display: block;
}

#dashboard-tab-content:checked ~ #adaptable-dashboard-tab-content,
#dashboard-tab1:checked ~ #adaptable-dashboard-tab-1,
#dashboard-tab2:checked ~ #adaptable-dashboard-tab-2 {
    display: block;
}

.tabcontentcontainer .tab-panel {
    padding: 30px 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tabcontentcontainer .tabset {
    max-width: 100%;
    min-height: 200px;
}


@media (min-width: 1024px) {

    .tabcontentcontainer div.linktab,
    .tabcontentcontainer dashboardtab.input[type="radio"],
    .tabcontentcontainer coursetab.input[type="radio"] {
        font-size: 1.4rem;
    }

    .tabcontentcontainer div.linktab {
        font-size: 3rem;
        padding: 10px 15px;
    }

    .tabcontentcontainer label.dashboardtab,
    .tabcontentcontainer label.coursetab {
        font-size: 1.25rem;
        padding: 20px 40px;
    }
}

@media (max-width: 1023px) {
    .tabcontentcontainer div.linktab {
        font-size: 1.6rem;
        padding: 10px 15px;
    }

    .tabcontentcontainer label.dashboardtab,
    .tabcontentcontainer label.coursetab {
        padding: 12px;
    }
}

@media (max-width: 460px) {
    .tabcontentcontainer div.linktab {
        font-size: 1.5rem;
        padding: 12px;
    }

    .tabcontentcontainer label.dashboardtab,
    .tabcontentcontainer label.coursetab {
        font-size: 1rem;
    }

    .tabcontentcontainer div.linktab,
    .tabcontentcontainer label.dashboardtab,
    .tabcontentcontainer label.coursetab {
        width: 100%; /* Make tabs full width at this resolution. */
        margin: 2px 0;
    }

    .tabcontentcontainer label.dashboardtab:before,
    .tabcontentcontainer label.coursetab:before {
        content: "\f101";
        padding-right: 5px;
        font-family: "FontAwesome";
    }

    #coursetabcontainer section.adaptable-tab-section,
    #dashboardtabcontainer section.adaptable-tab-section {
        border: 0;
    }

}
