/*
* This file is part of Adaptable theme for moodle
*
* Moodle is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Moodle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*
*
* Adaptable buttons CSS file
*
* @package    theme_adaptable
* @copyright  2015-2021 Fernando Acedo (3-bits.com)
* @copyright  2020-2021 3bits development team (3-bits.com)
* @copyright  2015-2019 Jeremy Hopkins (Coventry University)
* @copyright  2018-2019 Manoj Solanki (Coventry University)
*
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

/* Default style for all the buttons */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-family: [[setting:fontname]];
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px 6px;
    height: 2.25rem;
}

/* Primary button */
.btn-primary,
.btn-secondary,
.singlebutton button[type="submit"],
.path-mod-workshop .assessment-summary.graded .singlebutton input[type="submit"],
.path-mod-workshop .example-summary.graded .singlebutton input[type="submit"],
.btn-default,
[data-role="next"],
[data-role="previous"],
input[type="submit"],
input[type="button"],
#searchform_button,
a.submit,
#notice .singlebutton + .singlebutton input,
#page-login-index2 .forgetpass a,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
.nav-pills > .active > a,
td.submit input,
div.discussionsubscription > a.discussiontoggle,
.btn-outline-secondary,
.paging-morelink a,
.btn-link,
.collapsible-actions .collapseexpand,
a#message-user-button.btn {
    font-family: [[setting:fontname]];
    text-shadow: none;
    color: [[setting:buttontextcolor]] !important;
    background-image: none;
    background-color: [[setting:buttoncolor]];
    box-shadow: rgba(0, 0, 0, 0.25) [[setting:buttondropshadow]] [[setting:buttondropshadow]] [[setting:buttondropshadow]];
    border: 0;
    border-radius: [[setting:buttonradius]];
    cursor: pointer;
    padding: .4rem 1rem;
    transition: background .4s ease-out;
}

[data-container="body"].btn-link {
    box-shadow: none;
}

.btn-secondary:hover,
.btn-primary:hover {
    background-color: [[setting:buttonhovercolor]] !important;
    text-decoration: none !important;
    color: [[setting:buttontextcolor]] !important;
    box-shadow: none;
}

.btn-link a {
    color: [[setting:buttontextcolor]] !important;
}

.filemanager .btn-secondary,
.fp-vb-icons .btn-secondary {
    border-color: #ccc !important;
    background-color: #ccc !important;
    color: #333 !important;
    min-height: 32px;
}

.filemanager .btn-secondary:hover,
.fp-vb-icons .btn-secondary:hover {
    background-color: #aaa !important;
    border-color: #aaa !important;
    color: #333 !important;
    min-height: 32px;
}

.btn-sm {
  margin-right: 3px;
}

/* Action buttons */
#notice .singlebutton + .singlebutton input,
submit.buttons input[name="cancel"] {
    background-color: [[setting:editoffbk]] !important;
    text-shadow: none;
}

input[type="submit"]:hover,
input[type="button"]:hover,
#searchform_button:hover,
a.submit:hover,
.singlebutton button[type="submit"]:hover,
#notice .singlebutton + .singlebutton input:hover,
.submit.buttons input[name="cancel"]:hover,
#page-login-index2 .forgetpass a:hover,
.submitbutton:hover,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus,
.btn-outline-secondary:hover,
.btn-link:hover,
div.discussionsubscription > a.discussiontoggle:hover,
a#message-user-button.btn:hover,
.collapsible-actions .collapseexpand:hover {
    background: none;
    background-position: 0 -100%;
    background-color: [[setting:buttonhovercolor]] !important;
    text-decoration: none !important;
    color: [[setting:buttontextcolor]] !important;
    box-shadow: none;
}

input[type="submit"]:focus,
input[type="button"]:focus,
#searchform_button:focus,
a.submit:focus, #notice .singlebutton + .singlebutton input:focus,
.submit.buttons input[name="cancel"]:focus,
#page-login-index2 .forgetpass a:focus {
    background-color: [[setting:buttonhovercolor]] !important;
    background-position: 0 -100%;
    text-decoration: none !important;
    color: [[setting:buttontextcolor]] !important;
}

button.close {
    text-shadow: none !important;
    color: #777;
    opacity: 1 !important;
    box-shadow: none !important;
}

a#message-user-button.btn {
    margin-left: 10px;
}

.path-mod-workshop .assessment-summary.graded .singlebutton input[type="submit"]:hover,
.path-mod-workshop .example-summary.graded .singlebutton input[type="submit"]:hover,
input.form-submit:hover,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input.form-submit:focus,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
input.form-submit.active,
input#id_submitbutton.active,
input#id_submitbutton2.active,
.path-admin .buttons input[type="submit"].active,
td.submit input.active, input.form-submit.disabled,
input#id_submitbutton.disabled,
input#id_submitbutton2.disabled,
.path-admin .buttons input[type="submit"].disabled,
td.submit input.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled],
.path-admin .buttons input[type="submit"][disabled],
td.submit input[disabled] {
    background-image: none;
    background-color: [[setting:buttonhovercolor]] !important;
    color: [[setting:buttontextcolor]] !important;
    box-shadow: 0 [[setting:buttondropshadow]] 0 0 rgba(0, 0, 0, 0.5) inset;
}

#edittingbutton {
    padding-right: 10px;
    height: 50px;
    margin: 6px;
}

#edittingbutton #coursesearchnavbar .form-group .btn {
    padding: 4px 12px;
}

#edittingbutton .btn-success,
#edittingbutton .btn.btn-secondary,
#edittingbutton input[type="submit"],
.purgecaches a,
.tool_dataprivacy {
    background-image: none;
    background-color: [[setting:editonbk]] !important;
    border: none;
    border-radius: [[setting:buttonradius]];
    box-shadow: rgba(0, 0, 0, 0.25) [[setting:buttondropshadow]] [[setting:buttondropshadow]] [[setting:buttondropshadow]];
    color: [[setting:editfont]] !important;
    line-height: 1.5;
    margin-top: 0;
    padding: 5px;
    text-decoration: none !important;
}

#edittingbutton .btn-danger,
.editing #edittingbutton input[type="submit"]:hover,
#edittingbutton .btn-success:hover,
#edittingbutton .btn.btn-secondary:hover,
.purgecaches a:hover,
.tool_dataprivacy a:hover {
    background-color: [[setting:editoffbk]] !important;
    transition: background .2s ease-out;
    border: none !important;
    box-shadow: none;

}

#edittingbutton .simplesearchform {
    margin-top: -30px;
}

#adaptable-page-header-wrapper #main-navbar #edittingbutton a{
  color: [[setting:editfont]] !important;
}

.fp-btn-choose {
    margin-bottom: 10px;
}

/* Set Cancel button to a link instead a button to improve usability */
.submit.buttons input[name="cancel"],
[data-role="end"],
[data-role="cancel"],
.cancel a,
#id_cancel,
input[name="addcancel"],
input[name="cancel"],
button[name="resetbutton"] {
    font-family: [[setting:fontname]];
    font-size: 1rem;
    line-height: 20px;
    height: 36px;
    cursor: pointer;
    color: [[setting:buttoncancelcolor]] !important;
    background-image: none !important;
    background-color: [[setting:buttoncancelbackgroundcolor]] !important;
    box-shadow: none;
    border: none;
}

/* Set Cancel hover to a link with the same colour that Cancel but underlined */
.cancel a:hover,
[data-role="end"]:hover,
[data-role="cancel"]:hover,
input[name="addcancel"]:hover,
input[name="cancel"]:hover,
button[name="resetbutton"]:hover,
#id_cancel:hover {
    color: [[setting:buttoncancelcolor]] !important;
    text-decoration: none !important;
    box-shadow: none;
}

/* Disabled button hardcoded to grey. */
.btn-primary.disabled,
.btn-primary[disabled] {
    background-image: none;
    background-color: #e0e0e0;
    color: #bdbdbd;
}

#notice .singlebutton + .singlebutton input,
.submit.buttons input[name="cancel"] {
    color: [[setting:editfont]] !important;
    background-image: none;
    background-color: [[setting:editoffbk]] !important;
    text-shadow: none;
}

/* Collapse button */
.collapsible-actions .collapseexpand a {
    background-image: none !important;
}

/* Login */
.btn-login {
    background-image: none;
    background-color: [[setting:buttonlogincolor]];
    border: none;
    border-radius: [[setting:buttonradius]];
    color: [[setting:buttonlogintextcolor]];
    cursor: pointer;
    padding: [[setting:buttonloginpadding]] 15px;
    text-shadow: none;
    transition: background 0.2s ease-out 0s;
    margin-top: [[setting:buttonloginmargintop]];
    margin-right:2px;
    height:[[setting:buttonloginheight]];
}

.btn-login:hover {
    background-image: none;
    background-color: [[setting:buttonloginhovercolor]];
    color: [[setting:buttonlogintextcolor]];
    text-decoration: none;
}

/* Login page button */
#loginbtn,
#guestlogin .btn {
    height: 50px;
    font-size: 1.4rem;
}

.continuebutton {
    margin: 10px 10px 10px 0;
}

/* Complete activity button */
.path-course-view li.activity span.autocompletion img,
.path-course-view li.activity form.togglecompletion .btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

/* Caret */
.btn .caret {
    border-top-color: [[setting:buttontextcolor]] !important;
}

/* Message Drawer styles (moodle 3.6 and higher) */

/* Hide messages drawer unused buttons */
.message-drawer .btn.hidden {
    display: none !important;
}

/* Display buttons with same height than the rest */
.message-drawer .btn-block {
    min-height: 36px;
}

/* Set action buttons to action colour */
.message-drawer button[data-action="confirm-delete-conversation"],
.message-drawer button[data-action="confirm-block"] {
    background-color: [[setting:editoffbk]] !important;
    text-shadow: none !important;
    color: #fff !important;
}

/* Remove border from progress icon button styling that is present due to previous styles
   defined for a links used with button styling. */
a.btn[data-toggle="popover"] {
    border: none;
    background-color: transparent !important;
}

/* btn-group */
.btn-group .btn  {
    margin-right: 5px;
}

/* btn-link */
.discussiontoggle {
    margin-right: 5px;
    padding: 10px;
}

/* btn-icon */
.btn-icon {
    padding-top: 8px !important;
}

.btn-icon.optionaction {
    padding-top: 0 !important;
}

/* Forum subscribed button */
div.discussionsubscription {
    margin-top: -2px !important;
}

/* Forum Move discussion button */
#forummenu .btn-secondary {
    margin-left: 5px;
}

.fp-upload-btn {
    margin-top: 1rem;
}

/* Message button margin (applies to all the elements) */
#page-user-profile .node_category li, .path-user .node_category li {
    margin-top: 15px;
}

.navbar .singlebutton,
.navbar input,
.navbar .singlebutton div,
.path-mod-data .navbar form {
    margin: 0;
    line-height: 1.5;
}

/* Search button */
.icon-no-margin.btn.btn-submit,
.btn.btn-submit.search-icon,
.btn.btn-primary.search-icon {
    background-color: [[setting:buttonsearchcolor]];
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: [[setting:buttontextcolor]] !important;
    box-shadow: none;
}

.icon-no-margin.btn.btn-submit:hover,
.btn.btn-submit.search-icon:hover,
.btn.btn-primary.search-icon:hover {
    background-color: [[setting:buttonsearchhovercolor]] !important;
}

/* Colapsible button */
.mform fieldset.collapsible legend a.fheader {
    background-image: none;
}

.mform fieldset.collapsible legend a.fheader::before {
    content:"\f054";
    font-family:"FontAwesome";
    font-size: 1.2rem;
    margin: 0 0.2rem;
}

.mform fieldset.collapsible legend a.fheader {
    padding-left: 0;
}
