@media (min-width: 576px) {
  body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(100% - 0.5rem); } }

@media (min-width: 840px) {
  body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(50% - 0.5rem); } }

@media (min-width: 1100px) {
  body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(33.33% - 0.5rem); } }

@media (min-width: 1360px) {
  body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(25% - 0.5rem); } }

@media (min-width: 576px) {
  body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(100% - 0.5rem); } }

@media (min-width: 768px) {
  body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(50% - 0.5rem); } }

@media (min-width: 1100px) {
  body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(33.33% - 0.5rem); } }

@media (min-width: 1360px) {
  body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(25% - 0.5rem); } }

@media (min-width: 576px) {
  body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(100% - 0.5rem); } }

@media (min-width: 768px) {
  body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(50% - 0.5rem); } }

@media (min-width: 1100px) {
  body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(33.33% - 0.5rem); } }

@media (min-width: 1360px) {
  body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(25% - 0.5rem); } }

@media (min-width: 576px) {
  body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(50% - 0.5rem); } }

@media (min-width: 840px) {
  body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(33.33% - 0.5rem); } }

@media (min-width: 1100px) {
  body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(25% - 0.5rem); } }

@media (min-width: 1360px) {
  body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(20% - 0.5rem); } }
