{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/savediscard

    Save / Discard floating buttons template.
}}

{{#js}}
require(['theme_adaptable/savebutton'], function(mod) {
    mod.init();
});
{{/js}}

<div id="savediscardsection" style="margin-top: {{{ topmargin }}};">
<input id="adminresetbutton" class="form-submit" style="float: right; margin-right: 20px;" type="reset"
    form="adminsettings" value=" {{{ discardtext }}}" />
<input id="adminsubmitbutton" style="float: right;margin-right: 20px;" type="submit" form="adminsettings" value=" {{{ savetext }}}" />
</div>
