{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/tabs

    Custom tabs.

    Example context (json):
    {
        "tabs": [
         {
            "name": "tab1",
            "displayname": "Tab1",
            "content": "<p>Tab 1 content</p>",
            "selected": true
         },
         {
            "name": "tab2",
            "displayname": "Tab2",
            "content": "<p>Tab 2 content</p>"
         }
        ]
    }
}}

<style>
    #{{containerid}} input.adaptabletab,
    #{{containerid}} div.adaptable-tab {
        display: none;
    }

    {{#tabs}}
    #{{name}}:checked~#adaptable-tab-{{name}} {
        display: block;
    }
    {{/tabs}}
</style>

<div id="{{containerid}}" class="tabcontentcontainer">
    {{#tabs}}
    <input id="{{name}}" type="radio" name="tabs" class="adaptabletab"{{#selected}} checked="checked"{{/selected}}>
    <label for="{{name}}" class="adaptabletab">{{displayname}}</label>
    {{/tabs}}
    {{#tabs}}
    <div id="adaptable-tab-{{name}}" class="adaptable-tab tab-panel py-3">
        {{{content}}}
    </div>
    {{/tabs}}
</div>
